In [24]:
#@title DATA ANALYSIS

In [23]:
import nltk

In [12]:
import pandas as pd
data = pd.read_csv('final_no_case_change_data (1).csv')
data=  data.drop(['Unnamed: 0'],axis = 1)
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences
0,37,Introduction If kills people decades highly in...,8877,77
1,38,Human minds fascination carrying potential tin...,5158,70
2,39,Introduction AI rapidly evolving employment se...,7658,84
3,40,Anything give rise smarter than human intelli...,5838,82
4,41,Machine intelligence invention humanity make ...,6946,81

In [13]:
def word_count(word):
    # word = word.lower()
    count = 0
    para_list=word.split()
    count=len(para_list)
    return count

data['no_of_total_words']=data['clean_content'].apply(lambda x :word_count(x))
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words
0,37,Introduction If kills people decades highly in...,8877,77,1095
1,38,Human minds fascination carrying potential tin...,5158,70,715
2,39,Introduction AI rapidly evolving employment se...,7658,84,932
3,40,Anything give rise smarter than human intelli...,5838,82,794
4,41,Machine intelligence invention humanity make ...,6946,81,901

In [15]:

from nltk.tokenize import word_tokenize
from nltk import pos_tag
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('wordnet')
from nltk.corpus import wordnet
all_stopwords = stopwords.words('english')


# POS tagger dictionary
def token_stop_pos(text):
    word = word_tokenize(text)
    newlist = []
    for word in word :
        newlist.append(tuple([word]))
    return newlist

data['POS tagged'] = data['clean_content'].apply(token_stop_pos)
data.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words,POS tagged
0,37,Introduction If kills people decades highly in...,8877,77,1095,"[(Introduction,), (If,), (kills,), (people,), ..."
1,38,Human minds fascination carrying potential tin...,5158,70,715,"[(Human,), (minds,), (fascination,), (carrying..."
2,39,Introduction AI rapidly evolving employment se...,7658,84,932,"[(Introduction,), (AI,), (rapidly,), (evolving..."
3,40,Anything give rise smarter than human intelli...,5838,82,794,"[(Anything,), (give,), (rise,), (smarter,), (t..."
4,41,Machine intelligence invention humanity make ...,6946,81,901,"[(Machine,), (intelligence,), (invention,), (h..."

In [16]:
# Average number of Words Per Sentence
col_list= ['no_of_total_words', 'no_of_sentences']
# sum specific columns
data['Average number of Words Per Sentence'] = data['no_of_total_words']//data['no_of_sentences']
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words,POS tagged,Average number of Words Per Sentence
0,37,Introduction If kills people decades highly in...,8877,77,1095,"[(Introduction,), (If,), (kills,), (people,), ...",14
1,38,Human minds fascination carrying potential tin...,5158,70,715,"[(Human,), (minds,), (fascination,), (carrying...",10
2,39,Introduction AI rapidly evolving employment se...,7658,84,932,"[(Introduction,), (AI,), (rapidly,), (evolving...",11
3,40,Anything give rise smarter than human intelli...,5838,82,794,"[(Anything,), (give,), (rise,), (smarter,), (t...",9
4,41,Machine intelligence invention humanity make ...,6946,81,901,"[(Machine,), (intelligence,), (invention,), (h...",11

In [17]:
import re
def syllable_count(word):
    # word = word.lower()
    count = 0
    para_list=word.split()
    for i in para_list:
      for ch in i:
        if re.match(r'[aeiouAEIOU]', ch):
          count+=1
      if i.endswith("es") or i.endswith("ed"):
        count-=1
    return count

data['syllables'] = data['clean_content'].apply(lambda x :syllable_count(x))
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words,POS tagged,Average number of Words Per Sentence,syllables
0,37,Introduction If kills people decades highly in...,8877,77,1095,"[(Introduction,), (If,), (kills,), (people,), ...",14,2865
1,38,Human minds fascination carrying potential tin...,5158,70,715,"[(Human,), (minds,), (fascination,), (carrying...",10,1610
2,39,Introduction AI rapidly evolving employment se...,7658,84,932,"[(Introduction,), (AI,), (rapidly,), (evolving...",11,2492
3,40,Anything give rise smarter than human intelli...,5838,82,794,"[(Anything,), (give,), (rise,), (smarter,), (t...",9,1915
4,41,Machine intelligence invention humanity make ...,6946,81,901,"[(Machine,), (intelligence,), (invention,), (h...",11,2200

In [18]:
def syllable_count(word):
    word = word.lower()
    complex_count = 0
    para_list=word.split()
    for i in para_list:
      word_syllable_count=0
      for ch in i:
        if re.match(r'[aeiou]', ch):
          word_syllable_count+=1

      if i.endswith("es") or i.endswith("ed"):
        word_syllable_count-=1
      if(word_syllable_count>2):
        complex_count+=1
        # print(i)
    return complex_count

data['Complex word Count'] = data['clean_content'].apply(lambda x :syllable_count(x))
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words,POS tagged,Average number of Words Per Sentence,syllables,Complex word Count
0,37,Introduction If kills people decades highly in...,8877,77,1095,"[(Introduction,), (If,), (kills,), (people,), ...",14,2865,560
1,38,Human minds fascination carrying potential tin...,5158,70,715,"[(Human,), (minds,), (fascination,), (carrying...",10,1610,257
2,39,Introduction AI rapidly evolving employment se...,7658,84,932,"[(Introduction,), (AI,), (rapidly,), (evolving...",11,2492,487
3,40,Anything give rise smarter than human intelli...,5838,82,794,"[(Anything,), (give,), (rise,), (smarter,), (t...",9,1915,317
4,41,Machine intelligence invention humanity make ...,6946,81,901,"[(Machine,), (intelligence,), (invention,), (h...",11,2200,376

In [19]:

data['Average word length'] = data['no_of_characters']//data['no_of_total_words']
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words,POS tagged,Average number of Words Per Sentence,syllables,Complex word Count,Average word length
0,37,Introduction If kills people decades highly in...,8877,77,1095,"[(Introduction,), (If,), (kills,), (people,), ...",14,2865,560,8
1,38,Human minds fascination carrying potential tin...,5158,70,715,"[(Human,), (minds,), (fascination,), (carrying...",10,1610,257,7
2,39,Introduction AI rapidly evolving employment se...,7658,84,932,"[(Introduction,), (AI,), (rapidly,), (evolving...",11,2492,487,8
3,40,Anything give rise smarter than human intelli...,5838,82,794,"[(Anything,), (give,), (rise,), (smarter,), (t...",9,1915,317,7
4,41,Machine intelligence invention humanity make ...,6946,81,901,"[(Machine,), (intelligence,), (invention,), (h...",11,2200,376,7

In [20]:
data['complex words percentage'] = (data['Complex word Count']/data['no_of_total_words'])*100
data['fog index'] = (data['complex words percentage'] +data['Average number of Words Per Sentence'])*4
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words,POS tagged,Average number of Words Per Sentence,syllables,Complex word Count,Average word length,complex words percentage,fog index
0,37,Introduction If kills people decades highly in...,8877,77,1095,"[(Introduction,), (If,), (kills,), (people,), ...",14,2865,560,8,51.141553,260.566210
1,38,Human minds fascination carrying potential tin...,5158,70,715,"[(Human,), (minds,), (fascination,), (carrying...",10,1610,257,7,35.944056,183.776224
2,39,Introduction AI rapidly evolving employment se...,7658,84,932,"[(Introduction,), (AI,), (rapidly,), (evolving...",11,2492,487,8,52.253219,253.012876
3,40,Anything give rise smarter than human intelli...,5838,82,794,"[(Anything,), (give,), (rise,), (smarter,), (t...",9,1915,317,7,39.924433,195.697733
4,41,Machine intelligence invention humanity make ...,6946,81,901,"[(Machine,), (intelligence,), (invention,), (h...",11,2200,376,7,41.731410,210.925638

In [21]:
def pronouns_count(word):
  count=0
  pronouns = ["I","we","my","ours","us"]
  for i in word.split():
    if i in pronouns:
      count+=1
  return count

data['personal_pronouns']=data['clean_content'].apply(lambda x :pronouns_count(x))
data.head()

,Url_id,clean_content,no_of_characters,no_of_sentences,no_of_total_words,POS tagged,Average number of Words Per Sentence,syllables,Complex word Count,Average word length,complex words percentage,fog index,personal_pronouns
0,37,Introduction If kills people decades highly in...,8877,77,1095,"[(Introduction,), (If,), (kills,), (people,), ...",14,2865,560,8,51.141553,260.566210,1
1,38,Human minds fascination carrying potential tin...,5158,70,715,"[(Human,), (minds,), (fascination,), (carrying...",10,1610,257,7,35.944056,183.776224,0
2,39,Introduction AI rapidly evolving employment se...,7658,84,932,"[(Introduction,), (AI,), (rapidly,), (evolving...",11,2492,487,8,52.253219,253.012876,0
3,40,Anything give rise smarter than human intelli...,5838,82,794,"[(Anything,), (give,), (rise,), (smarter,), (t...",9,1915,317,7,39.924433,195.697733,0
4,41,Machine intelligence invention humanity make ...,6946,81,901,"[(Machine,), (intelligence,), (invention,), (h...",11,2200,376,7,41.731410,210.925638,1

In [25]:
data.to_csv("nearly_final_.csv")