In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('final_extracted.xlsx')

In [3]:
df.head()

,Unnamed: 0,url_id,url,Title,Web content
0,0,37,https://insights.blackcoffer.com/ai-in-healthc...,AI in healthcare to Improve Patient Outcomes -...,Introduction “If anything kills over 10 milli...
1,1,38,https://insights.blackcoffer.com/what-if-the-c...,What if the Creation is Taking Over the Creato...,"Human minds, a fascination in itself carrying..."
2,2,39,https://insights.blackcoffer.com/what-jobs-wil...,What Jobs Will Robots Take From Humans in The ...,Introduction AI is rapidly evolving in the em...
3,3,40,https://insights.blackcoffer.com/will-machine-...,Will Machine Replace The Human in the Future o...,“Anything that could give rise to smarter-tha...
4,4,41,https://insights.blackcoffer.com/will-ai-repla...,Will AI Replace Us or Work With Us? - Blackcof...,“Machine intelligence is the last invention t...

In [4]:
df.info

<bound method DataFrame.info of      Unnamed: 0  url_id                                                url  \
0             0      37  https://insights.blackcoffer.com/ai-in-healthc...
1             1      38  https://insights.blackcoffer.com/what-if-the-c...
2             2      39  https://insights.blackcoffer.com/what-jobs-wil...
3             3      40  https://insights.blackcoffer.com/will-machine-...
4             4      41  https://insights.blackcoffer.com/will-ai-repla...
..          ...     ...                                                ...
106         106     146  https://insights.blackcoffer.com/blockchain-fo...
107         107     147  https://insights.blackcoffer.com/the-future-of...
108         108     148  https://insights.blackcoffer.com/big-data-anal...
109         109     149  https://insights.blackcoffer.com/business-anal...
110         110     150  https://insights.blackcoffer.com/challenges-an...

                                                 Title  \
0    AI in healthcare to Improve Patient Outcomes -...
1    What if the Creation is Taking Over the Creato...
2    What Jobs Will Robots Take From Humans in The ...
3    Will Machine Replace The Human in the Future o...
4    Will AI Replace Us or Work With Us? - Blackcof...
..                                                 ...
106     Blockchain for Payments - Blackcoffer Insights
107     The future of Investing - Blackcoffer Insights
108  Big Data Analytics in Healthcare - Blackcoffer...
109  Business Analytics In The Healthcare Industry ...
110  Challenges and Opportunities of Big Data in He...

                                           Web content
0     Introduction “If anything kills over 10 milli...
1     Human minds, a fascination in itself carrying...
2     Introduction AI is rapidly evolving in the em...
3     “Anything that could give rise to smarter-tha...
4     “Machine intelligence is the last invention t...
..                                                 ...
106   Reconciling with the financial realities of a...
107   What Is an Investment? An investment is a res...
108   Quality and affordable healthcare is a vision...
109   Analytics is a statistical scientific process...
110   Big Data To begin with I shall first like to ...

[111 rows x 5 columns]>

In [6]:
new_df = pd.DataFrame( columns = ['Url_id','clean_content'])

In [7]:
new_df['Url_id'] = df['url_id']
new_df.head()

   Url_id clean_content
0      37           NaN
1      38           NaN
2      39           NaN
3      40           NaN
4      41           NaN

In [8]:
#l = []
#for i in range(118):
#   l.append(df.iloc[i,3:])
#print(l)
#for i in range(1):
#    print(l[i].values)
#j = l[1].values
#print(j)
content =df['Web content']
content.head()

0     Introduction “If anything kills over 10 milli...
1     Human minds, a fascination in itself carrying...
2     Introduction AI is rapidly evolving in the em...
3     “Anything that could give rise to smarter-tha...
4     “Machine intelligence is the last invention t...
Name: Web content, dtype: object

In [9]:
import os 
os.chdir('files')

In [10]:
import string
stopwords = [ ]
filelist = os.listdir(os.getcwd()) 
filelist = os.listdir(os.getcwd()) 
for i in filelist: 
    try: 
        with open(i, 'r') as fp: 
            for line in fp.readlines(): 
                stopwords.append("".join(line.lower()).replace('\n', "").replace('|',"")) 
    except OSError as error: 
        print('error %s', error) 
#print(stopwords)

In [11]:

def  remove_stop(x):
    return ",".join([word for word in str(x).split() if word not in stopwords])
content = content.apply(lambda x :remove_stop(x))

In [12]:
content.head()

0    Introduction,“If,kills,10,people,decades,,high...
1    Human,minds,,fascination,carrying,potential,ti...
2    Introduction,AI,rapidly,evolving,employment,se...
3    “Anything,give,rise,smarter-than-human,intelli...
4    “Machine,intelligence,invention,humanity,make”...
Name: Web content, dtype: object

In [13]:
import re
# Define a function to clean the text
def clean(x):
# Removes all special characters and numericals leaving the alphabets
    x = re.sub('[^A-Za-z]+', ' ', x)
    return x

# Cleaning the text in the review column
new_df['clean_content'] = content.apply(lambda x : clean(x))

In [14]:
new_df.head()

   Url_id                                      clean_content
0      37  Introduction If kills people decades highly in...
1      38  Human minds fascination carrying potential tin...
2      39  Introduction AI rapidly evolving employment se...
3      40   Anything give rise smarter than human intelli...
4      41   Machine intelligence invention humanity make ...

In [15]:
def word_count(str):
    return len(str)
new_df['no_of_characters']= new_df['clean_content'].apply(lambda x :word_count(x))
new_df.head()

   Url_id                                      clean_content  no_of_characters
0      37  Introduction If kills people decades highly in...              8877
1      38  Human minds fascination carrying potential tin...              5158
2      39  Introduction AI rapidly evolving employment se...              7658
3      40   Anything give rise smarter than human intelli...              5838
4      41   Machine intelligence invention humanity make ...              6946

In [16]:
headers = ['fgfg']
def sentence_count(str):
    return str.count('.')
new_df['no_of_sentences'] = content.apply(lambda x : sentence_count(x))
new_df.head()

,Url_id,clean_content,no_of_characters,no_of_sentences
0,37,Introduction If kills people decades highly in...,8877,77
1,38,Human minds fascination carrying potential tin...,5158,70
2,39,Introduction AI rapidly evolving employment se...,7658,84
3,40,Anything give rise smarter than human intelli...,5838,82
4,41,Machine intelligence invention humanity make ...,6946,81

In [17]:
new_df.to_csv('final_no_case_change_data.csv')

Empty DataFrame
Columns: [clean_content, no_of_total_word, no_of_sentences]
Index: []